@charset "utf-8";

.button-container {
  width: 62.5rem;
  text-align: center;
  color: rgb(51, 51, 51);
  font-weight: 400;
  height: 4.625rem;
  padding: 0 0.09rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;

  > .content-bar-timetable, .content-bar-retry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 1.875rem;
    width: 7rem;
    color: rgb(51, 51, 51);
    background-color: #f2f0e5;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 0.3rem;
    font-weight: 600;
    font-size: 0.75rem;

    > .image {
      height: 1.2rem;
    }

  }
}

#main-seat {
  > .seat-div {
    left: 50%;
    transform: translate(-50%, 0);
    width: 62.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgb(51, 51, 51);
      color: #d4d3c9;
      font-weight: 400;
      height: 2rem;
      width: 100%;
      padding: 0 0.09rem;

    }

    .screen-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      border: 0.1rem solid #d4d3c9;
      background-color: #f2f0e5;
      height: auto;

      &.screen-down {
        height: 24.0625rem;

      }

      .infor-container {
        margin: 1rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;

        &.title-right-box {
          gap: 1rem;
        }

        &#nopContainer {
          border-right: 1px solid #d4d3c9;
        }

        #maximum_people {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          font-size: 0.6875rem;
          padding-right: 1rem;
          box-sizing: border-box;
          color: rgb(255, 0, 0);
        }

        .title-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 0.2rem;
          box-sizing: border-box;

          > .text {
            width: auto;
            height: 1rem;
            font-size: 0.75rem;
            padding: 0 0.5rem;

            &.center {
              border-right: 1px solid #d4d3c9;
              border-left: 1px solid #d4d3c9;
            }
          }

          > .big-text {
            font-weight: 700;
            font-size: 1.28rem;
          }

          .title {
            width: 3rem;
          }

          > .adult {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            list-style-type: none;
            gap: 0.3rem;
            box-sizing: border-box;

            > .selected {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border: 1px solid #d6d3ce;
              width: 1.35rem;
              height: 1.35rem;
              font-size: 0.875rem;
              font-weight: 700;
              cursor: pointer;


              > .adults {
                display: none;
              }

              > .-adult {
                color: rgb(51, 51, 51);
                text-decoration: none;
                cursor: pointer;
              }
            }

            > .selected:has(.adults:checked) {
              background-color: rgb(51, 51, 51);
              color: rgb(255, 255, 255);
            }
          }
        }

        .text {
          padding: 0 0.3rem;
        }

        .cinema {
          border-right: 0.025rem solid #d4d3c9;
          border-left: 0.025rem solid #d4d3c9;
        }

        .seat-color {
          color: red;
        }
      }


      > .seat-container {
        width: 55rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;

        > .screen-bar {
          margin-top: 1rem;
          margin-bottom: 4rem;
          width: 40rem;
          background-color: #d4d3c9;
          text-align: center;
        }

        > .screen {
          th, td {
            text-align: center;
            border: none;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 0.875rem;
            font-weight: 700;
            margin-bottom: 4rem;

            &.seat {
              cursor: pointer;
              background-color: #d4d3c9;

            }

            &.selected-seat {
              background-color: red;
            }

          }
        }

      }

      > .plus {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 5rem;

        > span {
          gap: 0.1rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          > .icon {
            display: flex;
            width: 1rem;
            height: 1rem;

            &.icon1 {
              background-color: red;
            }

            &.icon2 {
              background-color: #d4d3c9;

            }
          }
        }
      }
    }
  }
}

#main-payment {
  box-sizing: border-box;
  width: 62.5rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f2f0e5;

  > .left-container {
    box-sizing: border-box;
    height: 100%;
    width: 46.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    > .payment-bar {
      background-color: rgb(29, 29, 28);
      width: 100%;
      height: 2.06rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color: rgb(224, 224, 224);
      font-weight: 700;
      border-bottom: 0.1rem solid #cccccc;
    }

    > .payment-container {
      width: 100%;
      height: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 0.1rem solid #cccccc;

      > label {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 1rem;
        gap: 1rem;
        list-style-type: none;
        cursor: pointer;


        .payment-label {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          list-style-type: none;
          height: 2.6rem;

          > .payment-check {
            font-weight: 700;
            font-size: 0.875rem;
            padding: 0 0.5rem;
            color: rgb(51, 51, 51);
            text-decoration: none;
            cursor: pointer;
            border-bottom: 0.1rem solid #cccccc;
          }
        }
      }

      > .payment-label:has(.radio:checked) {
        background-color: rgb(51, 51, 51);
        color: rgb(255, 255, 255);
      }
    }

    > .card-container {
      width: 100%;
      height: 100%;

      > .card-content {
        padding-left: 3rem;
        height: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 0.1rem solid #cccccc;
        gap: 1rem;

        > .card-label {
          height: 3rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          border-radius: 0.2rem;

          > [name="card"] {
            height: 1.5rem;
            border-radius: 0.2rem;
          }
        }
      }

      > .text-space {
        width: 100%;
        height: 15rem;
      }

      > .card-text {
        box-sizing: border-box;
        height: calc(100% - 6rem);
        padding: 1.5rem 0 1.5rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        background-color: rgb(235, 233, 223);


        > .text {
          color: rgb(51, 51, 51);

          &.bottom-line {
            gap: 1rem;
            display: flex;
            flex-direction: row;

            > a {
              color: rgb(51, 51, 51);
              text-decoration: underline;
            }
          }
        }
      }
    }

    > .cellphone-container {
      width: 100%;
      height: 100%;

      > .text-space {
        height: 5rem;
        width: 100%;
      }

      > .cellphone-content {
        padding-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;


        > .text {
          height: 2rem;
          font-size: 0.75rem;
          font-weight: 400;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          border-bottom: 0.1rem solid #cccccc;


          > .cellphone-pay {
            font-size: 1rem;
            font-weight: 2000;
          }

          > .text {
            width: 5rem;
          }
        }
      }

      > .cellphone-text {
        height: calc(100% - 4rem);
        gap: 0.2rem;
        padding-left: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 3rem;

        > .text-space {
          padding: 0.5rem 0;
        }

        > h5 {
          color: red;
        }
      }
    }

    > .simple-pay-container {
      width: 100%;
      height: 100%;

      > .label-radio {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        border-bottom: 0.1rem solid #cccccc;
        width: 100%;
        padding-left: 1rem;
        cursor: pointer;


        > .simple-pay-label {
          height: 3rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;


          > [name="simple-pay-check"] {
            height: 1.5rem;
            border-radius: 0.2rem;
            cursor: pointer;

          }
        }
      }

      > .simple-pay-text-container {
        > .label-checkbox {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          list-style-type: none;
          padding-left: 1.5rem;
          height: 3rem;
          color: rgb(198, 36, 36);
          gap: 0.2rem;


        }

        > .text-space {
          height: 5rem;
          width: 100%;
        }

        > .simple-pay-on-text {
          padding: 1.5rem 0 1.5rem 8rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          > h4 {
            padding-bottom: 1rem;
          }

          > .text {
            height: 2rem;
            font-size: 0.75rem;
            font-weight: 400;
            width: 100%;
          }
        }

        > .simple-pay-under-text {
          padding: 1rem 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: rgb(235, 233, 223);
          gap: 0.2rem;

          > h5 {
            color: red;
          }
        }
      }
    }

    > .credit-container {
      width: 100%;
      height: 100%;

      > .text-space {
        height: 5rem;
        width: 100%;
      }

      > .credit-content {
        padding: 1.5rem 0 1.5rem 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        > h4 {
          padding-bottom: 1rem;
        }

        > .text {
          height: 2rem;
          font-size: 0.75rem;
          font-weight: 400;
          width: 100%;
        }
      }

      > .text-space {
        width: 100%;
        height: 5rem;
      }

      > .credit-text {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(235, 233, 223);

        > h4 {
          color: red;
        }
      }
    }

    > .toss-container {
      width: 100%;
      height: 100%;

      > .text-space {
        height: 5rem;
        width: 100%;
      }

      > .toss-content {
        padding: 1.5rem 0 1.5rem 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        > h4 {
          padding-bottom: 1rem;
        }

        > .text {
          height: 2rem;
          font-size: 0.75rem;
          font-weight: 400;
          width: 100%;
        }
      }
      > .text-space {
        height: 7rem;
        width: 100%;
      }

      > .toss-text {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(235, 233, 223);

        > h4 {
          color: red;
        }
      }
    }
  }

  > .right-container {
    width: 16rem;
    height: auto;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    > .space {
      width: 2rem;
      height: 100%;
    }

    > .pay-container {
      width: 100%;
      height: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      gap: 1rem;


      > .pay-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(51, 51, 51);
        width: 11.7rem;
        text-align: left;
        border: 0.2rem solid rgb(45, 31, 25);
        border-radius: 0.1rem;

        > .pay-title {
          text-align: center;
          background-color: #f2f0e5;
          font-size: 1rem;
          font-weight: 700;
          width: 100%;
          padding: 0.4rem 0;
        }

        > .pay-title-blue {
          text-align: center;
          background-color: rgb(217, 231, 235);
          font-size: 1rem;
          font-weight: 700;
          width: 100%;
          padding: 0.4rem 0;
        }

        > .pay-content {
          padding: 0.4rem 0;
          background-color: white;
          width: 100%;
          display: flex;

          > .pay-kind {
            padding-left: 0.2rem;
            width: 100%;
            font-size: 0.75rem;
            font-weight: 400;
            text-align: left;
          }

          > .pay-price {
            padding-right: 0.2rem;
            width: 100%;
            text-align: right;
            font-size: 0.75rem;
            font-weight: 400;
          }
        }

        > .pay-text {
          padding: 0.4rem 0;
          background-color: white;
          font-size: 1rem;
          font-weight: 700;
          width: 100%;
          border: 0.2rem solid rgb(45, 31, 25);
          text-align: center;
        }

        > .pay-price-box {
          padding: 0.4rem 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;

          &.blue-color {
            background-color: rgb(36, 46, 53);
            color: rgb(137, 229, 255);
          }

          &.yellow-color {
            color: #faec8c;
            background-color: rgb(45, 31, 25);
          }

          &.basic-color {
            color: white;
            background-color: rgb(32, 32, 32);
          }

          > .pay-big-price {
            font-size: 1.5rem;
            font-weight: 2000;
          }

          > .pay-small-price {
            font-size: 0.75rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}

#payment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid rgb(112, 112, 112);
  width: 62.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  > h4 {
    padding: 0.5rem 0 0.1rem 0.2rem;
    text-align: left;
    background-color: rgb(112, 112, 112);
    color: rgb(242, 240, 229);
    font-weight: 700;
    font-size: 1.25rem;
    width: 100%;
    height: 2.15rem;
  }

  > .pay-sec-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc(100% - 4rem);
    padding: 3rem 0 3rem 2rem;

    > .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 0.1rem solid rgb(190, 190, 189);
        border-bottom: 0.1rem solid rgb(190, 190, 189);
        background-color: rgb(238, 238, 236);
        height: 2rem;
        width: 100%;

        > .title {
          height: 100%;
          width: 100%;
          text-align: left;
          font-size: 1.4rem;
          font-weight: 2000;

          &.title2 {
            border-left: 0.1rem solid rgb(190, 190, 189);

          }


          > .small-text {
            width: 100%;
            font-size: 0.75rem;
            font-weight: 400;
          }
        }
      }
    }


    > .table-div {
      height: 10rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-bottom: 0.1rem solid rgb(190, 190, 189);

      > div > .img {
        height: 9.7rem;
        width: 6.875rem;
      }

      > .div-title1 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 5rem;
        gap: 0.2rem;
        font-weight: 700;
        font-size: 0.75rem;
      }

      > .div-content1 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 20.15rem;
        gap: 0.2rem;
        font-weight: 400;
        font-size: 0.75rem;
        border-right: 0.1rem solid rgb(190, 190, 189);
      }

      > .div-title2 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 8.35rem;
        padding-left: 3rem;
        gap: 0.2rem;
        margin-bottom: 5rem;
        font-weight: 400;
        font-size: 0.75rem;
      }

      > .div-content2 {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 21rem;
        gap: 0.2rem;
        margin-bottom: 5rem;
        font-weight: 400;
        font-size: 0.75rem;

        > span {
          > .big-red {
            font-size: 1rem;
            font-weight: 700;
            color: red;
          }

          > .big-font {
            font-weight: 700;
          }

          > .small-red {
            color: red;
          }
        }
      }
    }

    > .cancel {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      gap: 0.5rem;
      padding-bottom: 0.5rem;
    }

    > .agree {
      border-top: 0.1rem solid rgb(190, 190, 189);
      border-bottom: 0.1rem solid rgb(190, 190, 189);
      background-color: rgb(238, 238, 238);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      padding: 1rem 0 1rem 0;

      > div {


        &.agree-div1 {
          width: 23.15rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin-left: 2rem;
          gap: 0.3rem;
          font-size: 0.75rem;
          font-weight: 400;
          > .agree-first{
            font-weight: 700;
            padding-bottom: 0.2rem;
          }
        }

        &.agree-div2 {
          width: 6.475rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin-left: 2rem;
          border-right: 0.1rem solid rgb(190, 190, 189);
          gap: 0.3rem;

          > span {
            height: 0.95rem;
          }
        }

        &.agree-div3 {
          margin-left: 2rem;
          width: 31.75rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          font-size: 0.75rem;
          font-weight: 700;
        }

        > label {
          display: flex;
          flex-direction: row;

          &.agree-label {
            margin-left: 0.5rem;
          }
        }

        > a {
          color: rgb(32, 124, 202);
          text-decoration-line: underline;
          text-decoration-color: rgb(32, 124, 202);
          text-decoration-style: solid;
          font-weight: 400;
          font-size: 0.75rem;
        }
      }
    }
  }
}
#pay-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  > .real-pay{
    width: 8.125rem;
    height: 2.8125rem;
    background-color: red;
    color: white;
    margin: 0.2rem;
    border: 0.1rem solid white;
    border-radius: 0.2rem;
  }
  > .real-cancel{
    height: 2.8125rem;
    width: 4.6785rem;
    border: 0.1rem solid rgb(51, 51, 51);
    border-radius: 0.2rem;


  }
}

.control-bar {
  width: 100vw;
  background-color: rgb(29, 29, 28);
  height: 7.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  > .space {
    max-width: 62.5rem;
    width: 62.5rem;
    height: 100%;
    background-color: rgb(29, 29, 28);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    > .icon-box {
      height: 5rem;
      width: 5rem;
      background-color: rgb(51, 51, 51);
      border: 0.1rem solid #d4d3c9;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      cursor: pointer;
      color: #cccccc;


      > .arrows {
        box-sizing: border-box;
        height: 3rem;
        width: 3rem;

        & .seat-right-text {
          color: #cccccc;
          font-weight: 700;
        }
      }
    }

    > .payment-button {
      width: 13.75rem;
      height: 6.75rem;
      border-radius: 1rem;
      background-color: red;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      cursor: pointer;
      border: 0.1rem solid red;


      > .check-image {
        box-sizing: border-box;
        width: 3rem;
        height: 3rem;
      }

      > .payment-check {
        color: #ffffff;
        font-weight: 7000;
        font-size: 1.5rem;
      }
    }

    > div {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.2rem;
      padding: 0.5rem 0;
      height: 100%;
      font-size: 0.75rem;
      font-weight: 400;
      text-align: left;

      &.title {
        width: 7.5rem;
        border-right: 0.1rem solid rgb(51, 51, 51);
      }

      &.theater-title {
        width: 2.5rem;
      }

      &.theater-content {
        width: 9.125rem;
        border-right: 0.1rem solid rgb(51, 51, 51);
      }

      &.seat-title {
        width: 3rem;
      }

      &.seat-content {
        width: 9.125rem;
        border-right: 0.1rem solid rgb(51, 51, 51);
      }

      &.price-title {
        width: 2.5rem;
      }

      &.price-content {
        width: 9.125rem;
      }

      > span {
        text-decoration: none;
        text-overflow: ellipsis;
        color: #cccccc;
        height: 1.5rem;
        text-decoration-color: rgb(204, 204, 204);
        font-weight: 700;
        font-size: 0.75rem;

        &.poster {
          height: 6.5rem;
          width: 4.625rem;
          display: flex;
          background-color: white;
        }
      }
    }
  }

}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 13rem;

  .image {
    width: 62.5rem;
    height: 8.75rem;
  }
}

