@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

body {
  width: 100vw;
  background-color: #f2f2f2;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.advertisement {
  width: 100%;
  height: 5rem;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: center;
}
.advertisement > a {
  width: 95%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.advertisement > a > img {
  max-width: 100%;
  height: auto;
}

#header {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#header > .content-left {
  max-width: 100%;
  width: 45%;
  height: 7rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: center;
}
#header > .content-left > .spring {
  flex-grow: 1;
}
#header > .content-left > .text {
  font-size: 1.2rem;
  color: #202020;
}
#header > .content-left > a > img {
  transform: translateY(6%);
  width: auto;
  height: 4rem;
}
#header > .content-left > .text {
  color: #202020;
  display: block;
  transform: translate(-5%, 100%);
  white-space: nowrap;
}
#header .content-right {
  max-width: 100%;
  width: 45%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: center;
}
#header .content-right > .item-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  white-space: nowrap;
}
#header .content-right > .item-container > .ad {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#header .content-right > .item-container > .ad > a > img {
  height: 2.8rem;
}
#header .content-right > .item-container > .item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#header .content-right > .item-container > .item > a {
  text-decoration: none;
  color: #202020;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header .content-right > .item-container > .item > a > img {
  height: 2.4rem;
}
#header .content-right > .item-container > .item > a > .text {
  display: block;
  text-align: center;
  white-space: nowrap;
}

#main {
  width: 100%;
  height: 20rem;
  background-color: #ffffff;
}

#footer {
  width: 100%;
  background-color: #f8f8f8;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer > .footer-menu {
  width: 100%;
}
#footer > .footer-menu > .policy-container {
  align-items: flex-end;
  border-bottom: 0.0625rem solid #ebebeb;
  box-sizing: border-box;
  height: 8.3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 1.7rem;
}
#footer > .footer-menu > .policy-container > .policy-list {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
#footer > .footer-menu > .policy-container > .policy-list > .item {
  display: flex;
  flex-direction: row;
}
#footer > .footer-menu > .policy-container > .policy-list > .item > a {
  color: #666;
  white-space: nowrap;
  text-decoration: none;
  font-size: 0.9rem;
}
#footer > .footer-menu > .policy-container > .policy-list > .item > a > b {
  color: #222;
  font-weight: 700;
  text-decoration: underline;
}
#footer #article {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  padding-top: 1.7rem;
}
#footer #article a {
  color: #666666;
}
#footer #article > .company > .text {
  color: #666666;
  font-size: 0.9rem;
}

/*# sourceMappingURL=index.css.map */
